@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

p, div {
    color: white;
}

input:-webkit-autofill{
    background: transparent;
}

.shadow {
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.active {
    background: #8B139E;
}

.rise-shake {
    animation: jump-shaking 0.83s;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-45%, -35%);
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes jump-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateY(-9px) }
    35% { transform: translateY(-9px) rotate(17deg) }
    55% { transform: translateY(-9px) rotate(-17deg) }
    65% { transform: translateY(-9px) rotate(17deg) }
    75% { transform: translateY(-9px) rotate(-17deg) }
    100% { transform: translateY(0) rotate(0) }
}