@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

p, div {
    color: white;
}

input:-webkit-autofill{
    background: transparent;
}

.shadow {
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.active {
    background: #8B139E;
}